@import "tailwindcss";

@theme {
  --color-theme-bg: #f8f4e9;
  --color-theme-panel: #fffdf6;
  --color-theme-border: #d8ccad;
  --color-theme-text: #667060;
  --color-theme-heading: #1e241d;
  --color-theme-accent: #234817;
  --color-theme-hover: #17310f;
  --font-sans: 'Inter', sans-serif;
}
