@import "tailwindcss";

@theme {
  --color-theme-bg: #0A110D;
  --color-theme-panel: #121C16;
  --color-theme-border: #1F2F24;
  --color-theme-text: #9AA8A0;
  --color-theme-heading: #E5EDE8;
  --color-theme-accent: #15803d;
  --color-theme-hover: #166534;
  --font-sans: 'Inter', sans-serif;
}
